.cb-demo {
    $root:&;

    position:relative;
    z-index:2;

    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    height:100vh;

    color:$color-base;

    &-bg {
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;

        // Scene background color
        background:#F53869;
    }

    &-preview {
        position:relative;
        display:inline-block;
        height:100%;

        // Set 'screen' to remove black areas of videos
        mix-blend-mode:screen;
    }

    &-video {
        video {
            max-height:100vh;
        }
    }

    &-overlay {
        position:absolute;
        top:1px; // 1px inset to reduce subpixels artifacts
        left:1px;
        right:1px;
        bottom:1px;

        // Set 'overlay' to adjust color of white areas of video.
        // Also can be set 'color', 'color-dodge', 'color-burn' or 'multiply' depending on the particular case.
        mix-blend-mode:overlay;

        // Overlay color
        background:white;
    }

    &-link {
        position:absolute;
        right:50px;
        bottom:50px;
        z-index:50;

        font-size:16px;
        font-weight:normal;
        line-height:150%;

        a {
            opacity:0.5;
            text-decoration:none;

            &:hover {
                opacity:1;
            }
        }
    }
}